.maindiv {
    background-color: aqua;
    width: 100%;
    height: 2500px;
}

.topnav {
    background-color: black;
    width: 100%;
    height: 50px;
}

.topnavLeft {
    width: 30%;
    float: left;
}

.email {
    float: left;
    padding: 15px 0px 15px 0px;
}

.hotmail {
    float: right;
    padding: 15px 0px 15px 0px;
}

.topnavRight {
    width: 70%;
    float: right;
}

.bottomnav {
    background-color: white;
    width: 100%;
    height: 90px;
}

.logo {
    width: 40%;
}

.navMenu {
    width: 70px;
}

.navMenuRight {
    list-style-type: none;
    display: block;
}

.navMenuRight li a {
    display: block;
}